.container {
  width: 500px;
  height: 500px;
  border: 1px solid red;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  align-items: center;
}
.div1 {
  border: 2px solid green;

  flex-basis: 50px;
}
.div2 {
  border: 2px solid green;
  flex-grow: 1;

  flex-basis: 50px;
}
.div3 {
  border: 2px solid green;

  flex-basis: 50px;
}
.div4 {
  border: 2px solid green;

  flex-basis: 100px;
}
